# -*-sh-*-
# $Id: config.machines 1951 2013-12-11 02:38:40Z karl $

#-----------------------------------------------
# Cluster Definitions
# 
# Define a name for each cluster you
# wish to manage.
#-----------------------------------------------

[Cluster-Names]

clusters = Foo Bar

#-----------------------------------------------
# Node Types/Cluster Config
#
# Delineate the different types of nodes in 
# each cluster.  Note that the software on each
# node type can be managed separately.
#
# Regular expression patterns can be used to
# map individual hostnames to a give node type.
# 
#-----------------------------------------------

[Foo]

# Define unique domainname for this cluster

domainname = foo|foo.yourdomain.org

# Define unique node types via hostname regular expressions

master     = master
nfs        = data1
admin      = admin1
login      = login[1-4]
oss        = oss[1-9]+
mds        = mds[1-4]|mds51
compute    = c3[0-4][0-9]-[1-3][0-2][0-9]
build      = build
gridftp    = gridftp[1-2]

# Define location of RPM package directory

rpm_build_dir = /work/build/rpms/RPMS

# Example high-level cluster config for Stampede

[Bar]

domainname      = bar|bar.yourdomain.com

# Define location of your local LosF config directory

config_dir      = /admin/losf/config

# Define unique node types via hostname regular expressions

master          = master
batch           = batch1
login           = alogin|\blogin[1-8]
mds             = mds[1-6]
oss             = oss[1-9]+
admin           = sm[1-2]
compute         = c[4-5][0-9][0-9]-[0-9]0[0-9]|c400-11[0-6]

# Define location of RPM package directory (note that you can override
# the default value for a particular node type)

rpm_build_dir     = /admin/losf/rpms/RPMS
rpm_build_compute = /lustre/admin/losf/rpms/RPMS











