# -*-sh-*-
# $Id: packages.config.template 1223 2012-06-14 12:51:44Z karl $
#----------------------------------------------------------------------
# Custom Packages
#
# This file is managed by LosF and defines individual custom packages
# which are to be installed on defined cluster node types.
#
# Use the "losf addrpm" command-line utilty to add/delete/update
# any custom built RPMs to your cluster.
#----------------------------------------------------------------------
#----------------------------------------------------------------------
# Package aliases - these are used to group like packages (or specific
# revisions) together
[Custom Packages/Aliases]
intel-mpi-4.1.3p=intel-mpi-4.1.3p-048.noarch name=intel-mpi version=4.1.3p release=048 arch=noarch 2a7c52ca2d88ec03161a6aaf16bd17de NODEPS IGNORESIZE RELOCATE:/opt/intel/impi/4.1.3.048:/opt/fsp/pub/mpi/impi/4.1.3p
intel-mpi-4.1.3p=intel-mpi-intel64-4.1.3p-048.x86_64 name=intel-mpi-intel64 version=4.1.3p release=048 arch=x86_64 d6f41a27f4afb0c6146cc92967fbeb53 NODEPS IGNORESIZE RELOCATE:/opt/intel/impi/4.1.3.048:/opt/fsp/pub/mpi/impi/4.1.3p
intel-mpi-4.1.3p=intel-mpi-mic-4.1.3p-048.x86_64 name=intel-mpi-mic version=4.1.3p release=048 arch=x86_64 e59c099e8cc9cedc2fc4fef47c0257fe NODEPS IGNORESIZE RELOCATE:/opt/intel/impi/4.1.3.048:/opt/fsp/pub/mpi/impi/4.1.3p
intel-mpi-4.1.3p=intel-mpi-rt-4.1.3p-048.noarch name=intel-mpi-rt version=4.1.3p release=048 arch=noarch d4e9e47d1c08e04de776af80ba9e5015 NODEPS IGNORESIZE RELOCATE:/opt/intel/impi/4.1.3.048:/opt/fsp/pub/mpi/impi/4.1.3p
intel-mpi-4.1.3p=intel-mpi-rt-intel64-4.1.3p-048.x86_64 name=intel-mpi-rt-intel64 version=4.1.3p release=048 arch=x86_64 5f333d1a3d3970300ad3f23943df047e NODEPS IGNORESIZE RELOCATE:/opt/intel/impi/4.1.3.048:/opt/fsp/pub/mpi/impi/4.1.3p
intel-mpi-4.1.3p=intel-mpi-rt-mic-4.1.3p-048.x86_64 name=intel-mpi-rt-mic version=4.1.3p release=048 arch=x86_64 625b19791c985c932e606088e25fee83 NODEPS IGNORESIZE RELOCATE:/opt/intel/impi/4.1.3.048:/opt/fsp/pub/mpi/impi/4.1.3p
intel-mpi-4.1.3p=intel-mpi-rt-pset-4.1.3p-048.noarch name=intel-mpi-rt-pset version=4.1.3p release=048 arch=noarch d6b7a140d836687b71b9fbdb950fa93d NODEPS IGNORESIZE RELOCATE:/opt/intel/impi/4.1.3.048:/opt/fsp/pub/mpi/impi/4.1.3p
intel-compiler-14.0=intel-compilerproc-144-14.0-2.x86_64 name=intel-compilerproc-144 version=14.0 release=2 arch=x86_64 e862de46ad089137e740b2bc2389b247 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-compilerproc-common-144-14.0-2.noarch name=intel-compilerproc-common-144 version=14.0 release=2 arch=noarch ffd962eb62010c3a4f380ecfe8fb70ac NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-compilerproc-devel-144-14.0-2.x86_64 name=intel-compilerproc-devel-144 version=14.0 release=2 arch=x86_64 a16083d5c348dc37035e85dd9d78792a NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-compilerpro-common-144-14.0-2.noarch name=intel-compilerpro-common-144 version=14.0 release=2 arch=noarch ae1fe41016e8878a56d2db5feff150e5 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-compilerpro-common-pset-144-14.0-2.noarch name=intel-compilerpro-common-pset-144 version=14.0 release=2 arch=noarch e961ce81456f13608131733b907c8026 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-compilerpro-devel-144-14.0-2.x86_64 name=intel-compilerpro-devel-144 version=14.0 release=2 arch=x86_64 dc35a43b078cfdab9e7d18a81c5b42a5 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-compilerprof-144-14.0-2.x86_64 name=intel-compilerprof-144 version=14.0 release=2 arch=x86_64 d6bca47a297069723997de2ddfa5648a NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-compilerprof-common-144-14.0-2.noarch name=intel-compilerprof-common-144 version=14.0 release=2 arch=noarch dd848abcf4f9ae5e15ba79511b895ace NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-compilerprof-devel-144-14.0-2.x86_64 name=intel-compilerprof-devel-144 version=14.0 release=2 arch=x86_64 b4fe3c6eaee213d2560850e47c237dd5 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-compilerpro-vars-144-14.0-2.noarch name=intel-compilerpro-vars-144 version=14.0 release=2 arch=noarch d40dc95e6ee1dfab04aea524fff59df0 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-openmp-144-14.0-2.x86_64 name=intel-openmp-144 version=14.0 release=2 arch=x86_64 e80f0856843bad41866d0742ecbf50fd NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-openmp-devel-144-14.0-2.x86_64 name=intel-openmp-devel-144 version=14.0 release=2 arch=x86_64 9184e8071c2ec4a18a1ada4109535ac3 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-mkl-144-11.1-2.x86_64 name=intel-mkl-144 version=11.1 release=2 arch=x86_64 51253c95703f7bfcef93a905fd4ee0e9 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-mkl-cluster-144-11.1-2.x86_64 name=intel-mkl-cluster-144 version=11.1 release=2 arch=x86_64 420c5c5c1a1825d943dc37b9c82bda71 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-mkl-cluster-common-144-11.1-2.noarch name=intel-mkl-cluster-common-144 version=11.1 release=2 arch=noarch 1faceb2b15808a09b7110139d085bf95 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-mkl-cluster-devel-144-11.1-2.x86_64 name=intel-mkl-cluster-devel-144 version=11.1 release=2 arch=x86_64 8598f849b99f0b33e644ec504e26dd48 NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-mkl-common-144-11.1-2.noarch name=intel-mkl-common-144 version=11.1 release=2 arch=noarch d6d612703ee839a7955f084b381ad46c NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144
intel-compiler-14.0=intel-mkl-devel-144-11.1-2.x86_64 name=intel-mkl-devel-144 version=11.1 release=2 arch=x86_64 c816e0a82b0791e6f3e9c70b3eff026a NODEPS IGNORESIZE RELOCATE:/opt/intel/composer_xe_2013_sp1.2.144:/opt/fsp/pub/compiler/intel/composer_xe_2013_sp1.2.144

# Packages to uninsall
[Custom Packages/uninstall]

# Custom 3rd party packages (can use aliases to expand groups of
# packages)
[Custom Packages]
master=@intel-mpi-4.1.3p
master=@intel-compiler-14.0
# end of Custom Packages
