# -*-sh-*-
# $Id: packages.config.template 1223 2012-06-14 12:51:44Z karl $
#----------------------------------------------------------------------
# Custom Packages
#
# This file is managed by LosF and defines individual custom packages
# which are to be installed on defined cluster node types.
#
# Use the "losf addrpm" command-line utilty to add/delete/update
# any custom built RPMs to your cluster.
#----------------------------------------------------------------------
#----------------------------------------------------------------------
#
[Custom Packages]
# end of Custom Packages